body {
  font-family: "Mulish";
  background-color: white;
}
.content {
  max-width: 60rem;
  margin: auto;
  border: 1rem solid black;
  padding: 1rem;
  min-height: 95vh;
}

#issues {
  border: 0.5rem dashed red;
  width: 100%;
  padding: 1rem;
  background-color: rgb(255, 215, 215);
}

#no-issues {
  text-align: center;
  border: 0.2rem dashed rgb(0, 162, 22);
  width: 90%;
  padding: 1rem;
  margin: auto;
  background-color: rgb(232, 255, 215);
  font-size: 2rem;
  color: rgb(0, 162, 22);
  font-weight: 900;
}
table {
  width: 100%;
  padding: 0;
}
th {
  text-align: left;
}
td {
  padding: 1rem;
  border: 1px solid black;
}
